@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Yellowtail&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #518d8a;
    display: flex;
    justify-content: flex;
    align-items: flex;
    flex-wrap: flex;
    
}

h1{
    width: 100%;
    color: #ecd551;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer
}
h1 span{
    transition: .5s linear
}
h1:hover span:nth-child(1){
    margin-right: 5px
}
h1:hover span:nth-child(1):after{
    content: "'";
}
h1:hover span:nth-child(2){
    margin-left: 30px
}
h1:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff;
}
canvas {
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 45px 0 rgba(248, 136, 136, 0.2);
}

h1 {
    animation: my--anim 2s linear 2s infinite alternate;
    padding: 20px;
    text-align: center;
    font-family: 'Yellowtail', cursive;
}

th{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 25px;
}